#hero {
    width: 100%;
    height: 30vh;
    /* background-color: aquamarine; */
}

#whyUs {
    width: 40%;
    float: left;
    /* background-color:lightpink; */
}

#callToAction {
    float: left;
    width: 60%;
    /* background-color: beige; */
}

@media (max-width: 800px)
{
    #whyUs {
        width: 100%;
    }
    
    #callToAction {
        width: 100%;
    }
}


