div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, aside, canvas, details, embed, 
figure, figcaption, hgroup, 
menu, nav, output, ruby, summary,
time, mark, audio, video {
	/* margin: 3px 5px 3px 5px; 
    padding: 3px 5px 3px 5px;  */
    line-height: 1.25;
    font-family: 'BenchNine', sans-serif;

}

nav span {
    font-weight: 600;
}


:root {
    --primary-color: rgb(0, 0, 39);
    --link-color: hotpink;
    --link-hover-color: pink;
    --link-visited-color: hotpink;
    --link-active-color: purple;
    --color-headings: hotpink;

}



body {
    background-color: rgb(22, 21, 17);
    color: white;
}

/* 
.neonText {
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px var(--color-headings),
      0 0 82px var(--color-headings),
      0 0 92px var(--color-headings),
      0 0 102px var(--color-headings),
      0 0 151px var(--color-headings);
  } */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Seaweed Script', cursive;
    letter-spacing: .03em;
    color: var(--color-headings);
    font-weight: 600;
    text-shadow: -1px 0 darkred, 0 3px darkred, 1px 0 darkred, 0 -1px  darkred;
    padding: 5px;
}



nav li {
    display: inline;
    padding: 15px;
}



header {
    /* position: fixed;
    background-color: var(--primary-color);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; */
    border-bottom: 1px solid aqua;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: var(--primary-color);
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid aqua;
}

#copyright {
    position: absolute;
    color: white;
    font-size: 10px;
    /* not working */
    right: 20px;
}




h1 {
    font-size: 48px;
    margin: 20px;
    font-family: 'BenchNine', sans-serif;
}

p, li, dl {
    letter-spacing: .02em;
    font-family: 'BenchNine', sans-serif;
    font-size: 22px;
}

h2 {
    font-size: 32px;
    font-weight: 200;
}

h3 {
    font-size: 26px;
    font-weight: 200;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
}

#navlinks .mdc-button__label {
    font-size: 20px;
    padding: 1vw;
}


a:link {
    color: var(--link-color);
    text-decoration: none;
}

a:visited {
    color: var(--link-visited-color)
}

a:hover {
    color: var(--link-hover-color);
    /* text-decoration: underline; */
}

a:focus {
    color: var(--link-hover-color);
    /* text-decoration: underline; */
}

a:active {
    color: var(--link-active-color)
}



/* ul {
    display: flex;
} */

main {
    margin: 0px 50px 0px 50px;
    padding: 200px 100px 200px 100px;
}

.mobileFeature {
    display: none;

}




@media (max-width: 800px)
{
    .disappearing {
        display: none;
    }
    
    .mobileFeature {
        display:block;
    }

    /* main {
        padding: 120px 0px 0px 0px;
    } */

}

#eligibility-form {
    padding: 50px;
}

.on-primary {
    color: hotpink;
}

.on-primary::before {
    color: white;
    border-color: white;
}

.on-primary::after {
    color: white;
    border-color: white;
}

.hidden {
    display: none;
}

.button {
    border: 1px solid aqua;
    font-size: 16px;
    padding: 0px 26cd px;
    font-weight: 600;
    background-color: black;
    color: hotpink;
}

.secondary-text {
    color: white !important;
    font-weight: 600;
}

#player-bankroll {
    font-size: 24px;
    padding: 15px;
}
 
#title {
    font-size: 30px;
    font-family: 'Seaweed Script', cursive;
    color: whitesmoke;
    
}