main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    align-items: center;
}

main section {
    text-align: center;
    background-color: rgb(0, 0, 39);
    border: 1px solid aqua;
    padding: 15px;
}

ol {
    display: flex;
    justify-content: center;
    gap: 25px;
}

/* ol > li {
    display: flex;
    align-items: center;
    background-color: darkgreen;
    border: 2px gray solid;
    color: ghostwhite;
    padding: 10px;
    height: 150px;
    width: 85px;
} */

ol > li img {
    border: 3px solid slategrey;
    border-radius: 12px;
}


ol li:hover::after {
    content: attr(data-blackjack-value);
    position: fixed;
    background-color: slategrey;
    border: 1px aqua solid;
    bottom: 40px;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    left: 0px;
    padding: 20px;
}

main button {
    background-color: black;
    font-size: 16px;
    color: hotpink;
    padding: 2px 12px 2px 12px;
    margin: 5px;
    border: 1px hotpink solid;
}

main button:hover::after {
    content: attr(data-user-hints);
    position: fixed;
    color: ghostwhite;
    background-color: slategrey;
    border: 1px aqua solid;
    bottom: 40px;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    left: 0px;
    padding: 20px;
}

.game-container {
    background-color: rgb(30, 57, 85);
}